h2.c2p-header {
    padding: 30px;
    background: #317ef3;
    margin-right: 10px;
	color: white;
	font-size:36px;
}

.config-wrap {
	margin-top: 2em;
    max-width: 700px;
}

.activate-option {
    background: #e3e3e3;
    border-radius: 3px;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 20px;
}
.activate-option.clicked {
	background: #649316;
	color: #fff;
}
.activate-option.clicked:hover {
	background: #68802E;
	color: #fff;
}

.activate-option .button.button-secondary {
	margin: 15px 0;
}

.activate-option p {
	margin: 10px 0 10px;
}

.activate-highlight {
	background: #fff;
	padding: 30px;
	margin-right: 10px;
}

.activate-highlight.secondary {
	background: #ddd;
	padding: 20px 30px;
}

.activate-highlight h3 {
	margin: 0 0 0.3em;
}
.activate-highlight p {
	color: #777;
}
.activate-highlight .button-primary {
	margin-top: 15px;
}

#connect2xpp-enter-api-key .regular-text {
	width: 18em;
	margin-top: 15px;
}

.right {
	float: right;
}

.alert-text {
	color: #dd3d36;
}
.success {
	color: #649316;
}
.option-description {
    float: left;
    font-size: 16px;
}
.option-description span {
    color: #666;
    display: block;
    font-size: 14px;
    margin-top: 5px;
}

.alert {
	border: 1px solid #e5e5e5;
	padding: 0.4em 1em 1.4em 1em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    border-width: 1px;
    border-style: solid;
}

.alert h3.key-status {
	color: #fff;
	margin: 1em 0 0.5em 0;
}

.alert.critical {
	background-color: #993300;
}

.alert.active {
	background-color: #649316;
}

.alert p.key-status {
	font-size: 24px;
}

.alert p.description {
	color:#fff;
	font-size: 14px;
    margin: 0 0;
	font-style: normal;
}

.alert p.description a,
.alert p.description a,
.alert p.description a,
.alert p.description a {
	color: #fff;
}

.setting-item{
	padding-top:5px;
	padding-bottom: 5px;
}
